@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Metal+Mania&family=Roboto:wght@400;900&display=swap");

/* CSS for fonts

font-family: 'Fredoka One', cursive;
font-family: 'Metal Mania', cursive;
font-family: 'Roboto', sans-serif;

*/

/* SPLASH SCREEN */

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.main {
  height: 100vh;
  background-image: url(https://res.cloudinary.com/dywatr6gy/image/upload/v1591784575/DnD/059_t4kfmw.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(255, 255, 255);
}

.splash-screen {
  text-align: center;
  padding: 0 10rem;
  padding-top: 14rem;
}

@media only screen and (max-width: 700px) {
  .splash-screen {
    padding: 4rem;
  }
}

.splash-screen h1 {
  font-family: "Fredoka One", cursive;
  font-size: 35px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 9rem;
  padding: 5vw;
  background-color: rgb(241, 237, 237);
  box-shadow: 0 3.8px 6.4px rgba(0, 0, 0, 0.049),
    0 10.5px 17.8px rgba(0, 0, 0, 0.07), 0 25.3px 42.8px rgba(0, 0, 0, 0.091),
    0 84px 142px rgba(0, 0, 0, 0.14);
}

@media only screen and (max-width: 700px) {
  .splash-screen h1 {
    padding: 3rem;
    margin-bottom: 3rem;
  }
}

.dnd {
  font-family: "Metal Mania", cursive;
  font-size: 40px;
  color: rgb(233, 16, 16);
}

.splash-screen p {
  margin-bottom: 7rem;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 40px;
}

.start-btn {
  display: inline-block;
  background-color: rgb(216, 43, 43);
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 1.5rem 3rem;
  cursor: pointer;
  transition: 200ms;
}

.start-btn:hover,
.start-btn:focus {
  border: solid 5px rgb(0, 0, 0);
}

.start-btn:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

/* GAME SCREEN */

.question-container {
  text-align: center;
  padding: 1rem;
}

@media only screen and (max-width: 700px) {
  .question-container {
    padding: 0.5rem;
  }
}

.red-container {
  background: rgb(195, 34, 34);
  background: linear-gradient(
    0deg,
    rgba(195, 34, 34, 1) 15%,
    rgba(253, 69, 45, 1) 100%
  );
  padding: 2rem;
  padding-bottom: 3rem;
  border-radius: 20px;
  margin: 0 auto;
  width: 80vw;
  max-width: 85vw;
}

@media only screen and (max-width: 700px) {
  .red-container {
    padding: 1.5rem;
    padding-top: 0.6rem;
  }
}

.points p {
  display: inline-block;
  background: rgb(150, 34, 195);
  background: linear-gradient(
    135deg,
    rgba(150, 34, 195, 1) 15%,
    rgba(45, 189, 253, 1) 100%
  );
  margin: 0 auto;
  padding: 1rem 3rem;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

@media only screen and (max-width: 700px) {
  .points p {
    padding: 0.5rem 2rem;
  }
}

.white-container {
  background-color: white;
  margin-top: 15px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07);
}

.question-container img {
  margin-top: 15px;
  width: 30vw;
  max-width: 42%;
  height: 28vh;
  max-height: 30vh;
}

@media only screen and (max-width: 700px) {
  .question-container img {
    width: 30vw;
    height: 20vh;
  }
}

.number-question {
  font-size: 13px;
  font-weight: bold;
  color: rgba(253, 69, 45, 1);
  margin-bottom: 30px;
  text-align: right;
}

@media only screen and (max-width: 700px) {
  .number-question {
    margin-bottom: 1rem;
  }
}

.theQuestion {
  font-weight: bold;
  padding: 0 1rem;
  line-height: 30px;
  letter-spacing: 2px;
}

@media only screen and (max-width: 700px) {
  .theQuestion {
    font-size: 16px;
    line-height: 25px;
    padding: 0;
  }
}

.answers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  background-color: white;
  padding: 2rem 0;
  margin: 0 auto;
  width: 75vw;
  height: 37vh;
  border-radius: 10px;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.073),
    0 22.3px 17.9px rgba(0, 0, 0, 0.108), 0 100px 80px rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 700px) {
  .answers-container {
    padding: 1.5rem 1.5rem;
  }
}

.p-container {
  height: 15%;
}

.answers-container p {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(136, 127, 127);
}

@media only screen and (max-width: 700px) {
  .answers-container p {
    margin-bottom: 0.5rem;
  }
}

.answer-part {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .center-answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
} */

.answer {
  padding: 8px 50px;
  width: 50%;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(255, 251, 251);
  border: solid 1.5px rgb(224, 215, 215);
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .answer {
    font-size: 14px;
    padding: 0.5rem 2.5rem;
    width: 80%;
  }
}

.correct,
.correct:focus {
  color: rgb(61, 177, 61);
  border-color: rgb(61, 177, 61);
}

.incorrect,
.incorrect:focus {
  color: rgb(201, 57, 57);
  border-color: rgb(201, 57, 57);
}

.next-btn {
  display: flex;
  justify-content: flex-end;
}

.next-btn button {
  display: inline-block;
  margin-right: 40px;
  border: none;
  font-size: 40px;
  background-color: transparent;
  font-weight: bold;
  color: rgb(214, 51, 51);
  cursor: pointer;
  transition: linear 300ms;
}

@media only screen and (max-width: 700px) {
  .next-btn button {
    margin-top: -1rem;
  }
}

.next-btn button:hover,
.next-btn button:focus {
  color: blueviolet;
}

.finish {
  color: rgb(214, 51, 51);
  margin-right: 30px;
  text-decoration: none;
  font-weight: bold;
}

.finish:hover,
.finish:focus {
  color: blueviolet;
  text-decoration: underline;
}

/* END SCREEN */

.end-container {
  padding: 5rem;
}

@media only screen and (max-width: 700px) {
  .end-container {
    padding: 1rem;
  }
}

.endScreen {
  margin: 0 auto;
  margin-top: 1rem;
  background-color: white;
  text-align: center;
  padding: 1rem 10rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

@media only screen and (max-width: 700px) {
  .endScreen {
    padding: 1rem;
  }
}

.final-score {
  padding-top: 2rem;
  font-weight: bold;
}

.image-type {
  padding: 2rem;
  width: 30vw;
  max-width: 294px;
  max-height: 40vh;
}

@media only screen and (max-width: 700px) {
  .image-type {
    width: 50%;
  }
}

.type {
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
}

@media only screen and (max-width: 700px) {
  .type {
    font-size: 30px;
    margin-bottom: 3rem;
  }
}

.funny-text {
  margin-bottom: 65px;
  letter-spacing: 2px;
  line-height: 25px;
}

@media only screen and (max-width: 700px) {
  .funny-text {
    font-size: 19px;
    margin-bottom: 2rem;
  }
}

.try-btn {
  display: inline-block;
  background: rgb(195, 34, 34);
  background: linear-gradient(
    0deg,
    rgba(195, 34, 34, 1) 15%,
    rgba(253, 69, 45, 1) 100%
  );
  padding: 1rem 3rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
}

.try-btn:hover {
  background: rgb(150, 34, 195);
  background: linear-gradient(
    135deg,
    rgba(150, 34, 195, 1) 15%,
    rgba(45, 189, 253, 1) 100%
  );
}
